### 단순 데이터 분리

In [1]:
import random
random.seed(10)
inds=random.sample(range(150),int(150*0.7))

In [2]:
len(inds)

105

In [3]:
import seaborn as sns
iris=sns.load_dataset('iris')

In [4]:
train=iris.loc[inds,:]

In [5]:
train.sort_index(inplace=True)
train.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
7           5.0          3.4           1.5          0.2  setosa

In [6]:
test=iris.loc[~iris.index.isin(train.index)]

In [8]:
test.sort_index(inplace=True)
test.head()

    sepal_length  sepal_width  petal_length  petal_width species
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
6            4.6          3.4           1.4          0.3  setosa
13           4.3          3.0           1.1          0.1  setosa
16           5.4          3.9           1.3          0.4  setosa

In [9]:
train=iris.sample(frac=0.7,random_state=1)

In [10]:
test=iris.loc[~iris.index.isin(train.index)]

In [11]:
train.head()

     sepal_length  sepal_width  petal_length  petal_width     species
14            5.8          4.0           1.2          0.2      setosa
98            5.1          2.5           3.0          1.1  versicolor
75            6.6          3.0           4.4          1.4  versicolor
16            5.4          3.9           1.3          0.4      setosa
131           7.9          3.8           6.4          2.0   virginica

In [12]:
test.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa

In [13]:
import seaborn as sns
iris=sns.load_dataset('iris')
X=iris.iloc[:,:-1]
y=iris.iloc[:,-1]

In [14]:
from sklearn.model_selection import train_test_split
train_X,test_X,train_y,test_y=train_test_split(X,y,test_size=0.3)

In [15]:
train_X.shape,test_X.shape,train_y.shape,test_y.shape

((105, 4), (45, 4), (105,), (45,))

In [16]:
test_y.value_counts()

versicolor    17
virginica     14
setosa        14
Name: species, dtype: int64

In [17]:
iris=sns.load_dataset('iris')
X=iris.iloc[:,:-1]
y=iris.iloc[:,-1]

In [18]:
from sklearn.model_selection import train_test_split
train_X,test_X,train_y,test_y=train_test_split(X,y,stratify=y,test_size=0.3)

In [20]:
test_y.value_counts()

virginica     15
setosa        15
versicolor    15
Name: species, dtype: int64

### 모형 생성, 예측, 평가

In [21]:
#모형 생성
import seaborn as sns
iris=sns.load_dataset('iris')
X=iris.iloc[:,:-1]
y=iris.iloc[:,-1]

In [22]:
from sklearn.model_selection import train_test_split
train_X,test_X,train_y,test_y=train_test_split(X,y,test_size=0.3,random_state=1)

In [23]:
from sklearn.tree import DecisionTreeClassifier
dt_model=DecisionTreeClassifier()
dt_model.fit(train_X,train_y)

DecisionTreeClassifier()

In [25]:
from sklearn.neural_network import MLPClassifier
mlp_model=MLPClassifier(hidden_layer_sizes=(50,50,20), max_iter=500,random_state=1)
mlp_model.fit(train_X,train_y)

MLPClassifier(hidden_layer_sizes=(50, 50, 20), max_iter=500, random_state=1)

In [26]:
#예측
dt_model.predict(test_X)

array(['setosa', 'versicolor', 'versicolor', 'setosa', 'virginica',
       'versicolor', 'virginica', 'setosa', 'setosa', 'virginica',
       'versicolor', 'setosa', 'virginica', 'versicolor', 'versicolor',
       'setosa', 'versicolor', 'versicolor', 'setosa', 'setosa',
       'versicolor', 'versicolor', 'virginica', 'setosa', 'virginica',
       'versicolor', 'setosa', 'setosa', 'versicolor', 'virginica',
       'versicolor', 'virginica', 'versicolor', 'virginica', 'virginica',
       'setosa', 'versicolor', 'setosa', 'versicolor', 'virginica',
       'virginica', 'setosa', 'versicolor', 'virginica', 'versicolor'],
      dtype=object)

In [27]:
mlp_model.predict(test_X)

array(['setosa', 'versicolor', 'versicolor', 'setosa', 'virginica',
       'versicolor', 'virginica', 'setosa', 'setosa', 'virginica',
       'versicolor', 'setosa', 'virginica', 'versicolor', 'versicolor',
       'setosa', 'versicolor', 'versicolor', 'setosa', 'setosa',
       'versicolor', 'versicolor', 'versicolor', 'setosa', 'virginica',
       'versicolor', 'setosa', 'setosa', 'versicolor', 'virginica',
       'versicolor', 'virginica', 'versicolor', 'virginica', 'virginica',
       'setosa', 'versicolor', 'setosa', 'versicolor', 'virginica',
       'virginica', 'setosa', 'virginica', 'virginica', 'versicolor'],
      dtype='<U10')

In [30]:
import pandas as pd
dt_pred_y=dt_model.predict(test_X)
pd.crosstab(test_y,dt_pred_y)

col_0       setosa  versicolor  virginica
species
setosa          14           0          0
versicolor       0          17          1
virginica        0           1         12

In [32]:
dt_model.score(test_X,test_y)

0.9555555555555556

In [33]:
mlp_pred_y=mlp_model.predict(test_X)
pd.crosstab(test_y,mlp_pred_y)

col_0       setosa  versicolor  virginica
species
setosa          14           0          0
versicolor       0          18          0
virginica        0           0         13

In [34]:
mlp_model.score(test_X,test_y)

1.0